@import "tailwindcss";

html {
  height: 100%;
}

body {
  background-color: #F9F1E8;
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Georgia;
}

body.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

main.content {
  flex: 1;
}

.logo a {
  font-family: Georgia;
}

.logo a:hover {
  text-decoration: None;
}

p {
  font-size: 16px;
  color: #574144
}

ul {
  font-size: 16px;
  color: #574144
}

h2 {
  font-size: 30px;
}

/* home page */

.page-title {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-family: Georgia;
  color: rgb(137, 5, 53);
}

.about-image-wrapper { 
    width: 320px;
    height: 320px;
    border-radius: 100%; 
    overflow: hidden; 
    display: flex; 
    align-items: center; 
    justify-self: center;
} 

.about-image { 
  width: 120%; 
  height: 120%;
  object-fit: cover;
  object-position: center; 
  transform: scale(1.2); 
}

.about-text {
  text-align: center;
  flex: 1;
  margin-left: 20px;
  margin-top: 20px
}

.about-text h2 {
  font-size: 30px;
  margin-bottom: 10px;
  color: rgb(137, 5, 53);
  font-weight: bold;
  text-align: center;
}

.about-text p {
  font-size: 20px;
  line-height: 1.5;
}

/* resume */

.button {
  background-color: rgb(137, 5, 53);
  border: none;
  color: white;

  font-size: 15px;

  padding: 7px 10px;

  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

.button:hover {
  background-color: rgb(147, 103, 116);
}

.resume {
  font-family: Georgia;
  padding-top: 5px;
  padding-bottom: 5px;
}

.resume {
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 70px;
}

.sectionTitle {
  color:  #BF7E81;
  font-size: 30px;
  font-weight: bold;

}

.entryTitle {
  color:  #BF7E81;
  font-size: 18px;
  font-weight: bold;
}

.entryTitle {
  color: #574144

}

.section{
    padding: 10px;
}

.courseList{
    list-style-type: disc; 
    padding-left: 1.7rem;
}

/* contact form */

label {
  display: block;
  margin-bottom: 8px;
  font-family: Georgia;
  font-weight: bold;
  color: #BF7E81
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
  font-family: Georgia;
}

form {
  width: 500px;
  margin: 0 auto;
}
