.blogDetail {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.blogDetail h1 {
  font-size: 40px;
  margin-bottom: 1px;
  color: #574144;
  text-align: center;
  font-weight: bold;
}


.blogDetail h2 {
  font-size: 22px;
  margin-bottom: 1px;
  color: #574144;
  text-align: center;
  font-style: italic;
  padding-bottom: 10px;
}

.blogDetail p {
  letter-spacing: -0.4px;
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 35px;
  margin-top: 20px;
  text-align: center;
}


.blogDetail img {
  width: 100%;
  height: 400px;
  object-fit: cover;   
  border-radius: 10px;
  display: block;
}

.blogDetail h3 {
  font-size: 22px;
  margin-bottom: 1px;
  color: #574144;
  text-align: center;
  padding-bottom: 10px;
}

.blogDetail button {
  background-color: rgb(137, 5, 53);
  border: none;
  color: white;

  font-size: 15px;

  padding: 7px 10px;

  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

.blogDetail button:hover {
  background-color: rgb(147, 103, 116);
}

