.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 7%;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  background-color: rgb(137, 5, 53);
  color: var(--cg-white);
  padding: 10px 0px;

  /* Debug border */
  /* border: solid red; */
}

.navList {
  display: flex;
  flex-direction: row;
  position: relative;
  /*right: 30px;*/
  list-style: none;


  /* Debug border */
  /* border: solid blue; */
}

.navList li {
  color: white

}

.logo {
  color: white
}

.logo h2 {
  font-family: Georgia;
}

.logo h2:hover {
  text-decoration: None;
}

.navbar a {
  color: var(--cg-white);
  font-weight: bold;
  margin: 0 12px;
  text-decoration: none;
  letter-spacing: 2px;

  font-family: Georgia
}

.navbar a:hover {
  color: rgb(125, 62, 108);
  padding: 3px 5px;
  background-color: antiquewhite;
  border-radius: 5px;
}

.navbar a:active {
  color: rgb(147, 103, 116);
}
